/* Global Reset & Standards ---------------------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: white;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  color: #222222;
  position: relative;
  -webkit-font-smoothing: antialiased; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 14px; }

p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px; }
  p.lead {
    font-size: 17.5px;
    line-height: 1.6;
    margin-bottom: 17px; }
  p img.left, p p img {
    margin: 17px;
    margin-left: 0; }
  p img.right {
    margin: 17px;
    margin-right: 0; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 14px; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #888;
  line-height: 0; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 37px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 23px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 14px; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0; }

em, i {
  font-style: italic;
  line-height: inherit; }

strong, b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

code {
  font-weight: bold;
  background: #ffff99; }

ul, ol {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
  list-style-position: inside; }

img, object, embed {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Directory
:: Profile
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  min-height: 100%;
  height: 100%; }

.navbar {
  color: #FFFFFF;
  margin: 0; }
  .navbar .container {
    width: 100%; }
  .navbar .brand {
    display: block;
    background: url(../images/layout/logo.png) no-repeat;
    margin: 20px 20px 20px 0;
    width: 84px;
    height: 26px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none; }
  .navbar .navbar-inner {
    /*height:77px;*/
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #ff457f;
    border-bottom: 1px solid #de0045; }
    .navbar .navbar-inner .nav li a {
      padding: 25px 2px 20px;
      margin: 0 20px;
      text-shadow: none;
      text-transform: uppercase;
      color: #ffdee8;
      font-size: 12px; }
      .navbar .navbar-inner .nav li a:hover {
        border-bottom: 4px solid #ff125c;
        color: white; }
    .navbar .navbar-inner .nav li.active a {
      background: transparent;
      border-bottom: 4px solid #de0045;
      color: white; }
    .navbar .navbar-inner .profile a {
      text-decoration: none;
      color: #ffdee8;
      text-shadow: none;
      font-size: 12px; }
      .navbar .navbar-inner .profile a:hover {
        color: #ffffff; }
    .navbar .navbar-inner .profile .profile-link {
      display: block;
      padding: 25px 2px 20px;
      margin: 0 20px; }
      .navbar .navbar-inner .profile .profile-link:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 5px solid transparent;
        border-top-color: #ffdee8; }
      .navbar .navbar-inner .profile .profile-link:hover:after {
        border-top-color: white; }
    .navbar .navbar-inner .profile .profile-drop {
      position: absolute; }

.row-fluid {
  max-width: 1200px;
  margin: 0 auto; }

/* -----------------------------------------
   Directory
----------------------------------------- */
#directory {
  /* .directory-person */ }
  #directory .directory-person {
    display: block;
    position: relative;
    background: #ffffff;
    height: 110px;
    padding: 4px;
    border: 1px solid #d7d7d7;
    color: #707070;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    /* Firefox 4 */
    -webkit-transition-delay: 0s;
    /* Safari and Chrome */
    -o-transition-delay: 0s;
    /* Opera */
    margin-bottom: 20px; }
    #directory .directory-person img {
      float: left;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    #directory .directory-person .directory-person-color {
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 43px;
      left: 93px;
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      border: 3px solid #ffffff;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px; }
      #directory .directory-person .directory-person-color.green {
        background-color: #27c654;
        -moz-box-shadow: inset 0 0 3px black;
        -webkit-box-shadow: inset 0 0 3px black;
        box-shadow: inset 0 0 3px black; }
      #directory .directory-person .directory-person-color.red {
        background-color: #e23a3b;
        -moz-box-shadow: inset 0 0 3px #190404;
        -webkit-box-shadow: inset 0 0 3px #190404;
        box-shadow: inset 0 0 3px #190404; }
      #directory .directory-person .directory-person-color.blue {
        background-color: #37a2ca;
        -moz-box-shadow: inset 0 0 3px #000102;
        -webkit-box-shadow: inset 0 0 3px #000102;
        box-shadow: inset 0 0 3px #000102; }
      #directory .directory-person .directory-person-color.black {
        background-color: #3a3939;
        -moz-box-shadow: inset 0 0 3px black;
        -webkit-box-shadow: inset 0 0 3px black;
        box-shadow: inset 0 0 3px black; }
      #directory .directory-person .directory-person-color.white {
        background-color: #f6f5f5;
        -moz-box-shadow: inset 0 0 3px #7c7070;
        -webkit-box-shadow: inset 0 0 3px #7c7070;
        box-shadow: inset 0 0 3px #7c7070; }
    #directory .directory-person .directory-person-info {
      display: table-cell;
      vertical-align: middle;
      height: 100px;
      padding-left: 20px; }
      #directory .directory-person .directory-person-info .name {
        color: #ff457f;
        text-transform: uppercase;
        font-weight: bold; }
    #directory .directory-person .directory-person-quote {
      display: none; }
    #directory .directory-person:hover {
      text-decoration: none;
      cursor: pointer;
      border-color: #a4a4a4;
      -moz-box-shadow: 0px 2px 5px #d7d7d7;
      -webkit-box-shadow: 0px 2px 5px #d7d7d7;
      box-shadow: 0px 2px 5px #d7d7d7; }
      #directory .directory-person:hover .directory-person-info .name {
        color: #ff2b6d; }
    #directory .directory-person:active {
      top: 1px;
      border-color: #bebebe;
      -moz-box-shadow: 0px 1px 3px #d7d7d7;
      -webkit-box-shadow: 0px 1px 3px #d7d7d7;
      box-shadow: 0px 1px 3px #d7d7d7;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      -ms-transition: none;
      transition: none;
      transition-delay: 0s;
      -moz-transition-delay: 0s;
      /* Firefox 4 */
      -webkit-transition-delay: 0s;
      /* Safari and Chrome */
      -o-transition-delay: 0s;
      /* Opera */ }
    #directory .directory-person:nth-child(4n+1) {
      margin-left: 0; }
    @media (min-width: 481px) and (max-width: 767px) {
      #directory .directory-person {
        float: left;
        width: 45%;
        *width: 45%;
        margin-left: 3.3333333%; }
        #directory .directory-person:nth-child(4n+1) {
          margin-left: 3.3333333%; } }
    @media (min-width: 768px) and (max-width: 979px) {
      #directory .directory-person {
        height: auto; }
        #directory .directory-person img {
          width: 100%; }
        #directory .directory-person .directory-person-color {
          position: relative;
          clear: both;
          z-index: 2;
          top: -12px;
          left: 50%;
          margin-left: -12px; }
        #directory .directory-person .directory-person-info {
          clear: both;
          padding-left: 10px;
          padding-top: 0px;
          position: relative;
          height: 55px;
          top: -6px; }
          #directory .directory-person .directory-person-info .name {
            color: #ff457f;
            text-transform: uppercase;
            font-weight: bold; }
        #directory .directory-person .directory-person-quote {
          display: none; } }
  #directory .directory-filter {
    padding: 20px;
    border: 1px solid #d7d7d7;
    color: #707070;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    transition-delay: 0s;
    -moz-transition-delay: 0s;
    /* Firefox 4 */
    -webkit-transition-delay: 0s;
    /* Safari and Chrome */
    -o-transition-delay: 0s;
    /* Opera */
    margin: 20px auto 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#fafafa)); }

/* -----------------------------------------
   Profile
----------------------------------------- */
#map {
  overflow: hidden; }
